* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body {
  background-color: hsl(270, 20%, 96%);
}
main {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}
.container {
  width: 55%;
  display: flex;
  margin: 0 auto;
  z-index: 2;
  justify-content: space-between;
}
/*Background shapes*/
.shape {
  position: absolute;
  width: 40%;
  height: 80vh;
  background: linear-gradient(
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%) 70% 100%
  );
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}
.top {
  top: 0;
  left: -10%;
}
.bottom {
  border-radius: 500px 500px 0 0;
  bottom: 0;
  right: -15%;
  opacity: 0.1;
}
/*Mobile design*/
.mobile {
  width: 42%;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 35px;
  position: relative;
}
.mobile-screen {
  background-color: hsl(270, 20%, 96%);
  border-radius: 35px;
  display: flex;
  flex-direction: column;
}
/*Purple header */

.user {
  display: flex;
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 30px 30px 10px 10px;
  padding: 30px 20px 5px 20px;
  align-items: center;
  color: hsl(0, 0%, 100%);
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn-head {
  width: 50%;
  padding: 15px;
  position: absolute;
  z-index: 3;
  border-radius: 0 0 20px 20px;
  border: none;
  background: hsl(0, 0%, 100%);
  left: 27%;
  top: 10px;
}
#top-arrow {
  font-size: 2rem;
  color: white;
}
.user-left {
  display: flex;
  align-items: center;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
  margin: 0 10px;
}
.user span {
  display: block;
  color: hsl(276, 100%, 81%);
  font-size: 0.7rem;
}
.user p {
  font-size: 0.9rem;
}
/*Purple header - end */

/*Three little dots */
.dots {
  display: flex;
  flex-direction: column;
}
.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  margin: 2px;
}
/*Three little dots - end*/

/*Chat*/
.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.messages p {
  width: 65%;
  padding: 8px 15px;
  background: hsl(270, 24%, 90%);
  color: hsl(276, 55%, 52%);
  margin-bottom: 10px;
  border-radius: 15px 15px 15px 5px;
  font-size: 0.7rem;
  line-height: 1.5;
}
.images {
  display: flex;
  justify-content: flex-end;
}
.images img {
  width: 20%;
  border-radius: 15px;
  margin: 15px 5px;
}
.white-chat {
  align-self: flex-end;
  background: hsl(0, 0%, 100%) !important;
  border-radius: 15px 15px 5px 15px !important;
  color: hsl(271, 15%, 43%) !important;
}
#white-chat-small {
  width: 42%;
}
.circle-plain {
  width: 15px;
  height: 15px;
  border: 1px solid hsl(270, 20%, 96%);
  border-radius: 50%;
  margin-right: 10px;
}
.price {
  color: hsl(270, 20%, 96%);
  width: 71%;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 6px 15px;
  margin-bottom: 10px;
  border-radius: 10px 10px 10px 5px;
  font-size: 0.8rem;
}
h2 {
  font-size: 0.8rem;
  font-weight: 400;
  width: 70%;
}
.price span {
  font-weight: 500;
  justify-self: flex-end;
}
input {
  width: 95%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  position: relative;
}
input::placeholder {
  font-size: 0.8rem;
  color: hsl(206, 6%, 79%);
}
.arrow {
  width: 30px;
  height: 30px;
  background: hsl(271, 36%, 24%);
  border-radius: 50%;
  position: absolute;
  bottom: 29px;
  right: 40px;
  text-align: center;
}
.bottom-arrow {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}
/*text container*/
.text {
  width: 50%;
  align-self: center;
}
h1 {
  font-size: 3rem;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
  padding-bottom: 30px;
}
.text p {
  color: hsl(270, 7%, 64%);
  line-height: 2;
  font-size: 1rem;
}

@media (min-width: 100px) and (max-width: 510px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .mobile {
    margin: 40px 0;
    width: 80%;
    padding: 10px;
  }
  .btn-head {
    padding: 5px;
  }
  .user {
    padding: 20px 20px 5px 20px;
  }
  #top-arrow {
    font-size: 1rem;
  }
  .user img {
    width: 30px;
    height: 30px;
  }
  .text {
    width: 83%;
    text-align: center;
    margin-bottom: 40px;
  }
  .text p {
    line-height: 1.5;
    font-size: 0.9rem;
  }
  .messages p {
    padding: 5px 15px;
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 2.2rem;
    padding-bottom: 15px;
  }
  .price {
    padding: 5px 10px;
  }
  .price span {
    font-size: 0.8rem;
  }
  .circle-plain {
    width: 10px;
    height: 10px;
  }
  h2 {
    font-size: 0.6rem;
  }
  input {
    padding: 5px 20px;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
  .arrow {
    width: 20px;
    height: 20px;
    bottom: 25px;
    right: 30px;
  }
  .bottom-arrow {
    font-size: 1rem;
  }
  .bottom {
    top: 40vh;
    left: 60%;
  }
}

@media (min-width: 511px) and (max-width: 850px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .mobile {
    margin: 40px 0;
    width: 50%;
    padding: 10px;
  }
  .btn-head {
    padding: 5px;
  }
  .user {
    padding: 20px 20px 5px 20px;
  }
  #top-arrow {
    font-size: 1rem;
  }
  .user img {
    width: 30px;
    height: 30px;
  }
  .text {
    width: 83%;
    text-align: center;
    margin-bottom: 40px;
  }
  .text p {
    line-height: 1.5;
    font-size: 0.9rem;
  }
  .messages p {
    padding: 5px 15px;
    font-size: 0.6rem;
    margin-bottom: 5px;
  }
  h1 {
    font-size: 2.2rem;
    padding-bottom: 15px;
  }
  .price {
    padding: 5px 10px;
  }
  .price span {
    font-size: 0.8rem;
  }
  .circle-plain {
    width: 10px;
    height: 10px;
  }
  h2 {
    font-size: 0.6rem;
  }
  input {
    padding: 5px 20px;
  }
  input::placeholder {
    font-size: 0.8rem;
  }
  .arrow {
    width: 20px;
    height: 20px;
    bottom: 25px;
    right: 30px;
  }
  .bottom-arrow {
    font-size: 1rem;
  }
  .bottom {
    top: 40vh;
    left: 60%;
  }
}
@media (min-width: 850px) and (max-width: 1040px) {
  .container {
    width: 78%;
  }
  .mobile {
    width: 55%;
  }
  .text {
    width: 40%;
  }
  h1 {
    font-size: 2rem;
  }
  .text p {
    font-size: 0.8rem;
  }
}
@media (min-width: 1041px) and (max-width: 1440px) {
  .container {
    width: 65%;
  }
}
